<div class="imageContainer">
<!--Section: Products v.4-->
<section class="pb-3 text-center ">


  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div *ngFor="let link of imageLinks" class="col-lg-4 col-md-6 mb-4">
        <h4 class="linkText">{{link?.caption}}</h4>
      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half" [routerLink]="link?.link">

        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img [src]="link?.image" [alt]="link?.caption"></mdb-card-img>

        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->



  </div>
  <!--Grid row-->

</section>
<!--Section: Products v.4-->
  </div>
