.linkContainer{
    text-align: center;  
    margin-left:1%;
    margin-right:1%; 
    margin-top:2%;
}

.linkText{
    text-align: center;
}

.imageContainer{
    margin-top:5%;
}

.col-sm-3{
    margin-top: 5%;
}

