<div class="formContainer">
  <h2 class="header">Contact OG Larry</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <span class="form-label">What is your name?</span>
    <input type="text" class="form-control" placeholder="What's your name?" formControlName="name">
    <br>
    <span class="form-label">What's your email?</span>
    <input type="text" class="form-control" placeholder="What's your email?" formControlName="email">
    <br>
    <span class="form-label">What's your numba?</span>
    <input type="text" class="form-control" placeholder="What's yo numba?" formControlName="phone">
    <br>
    <span class="form-label">What kind of wood do you want?</span>
    <select class="form-control" formControlName="woodType">
      <option value="" disable selected> Select the type of wood for your tray</option>
      <option *ngFor="let wood of woodTypes" [value]="wood">{{wood}}</option>
    </select>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="trayTextCheckbox" [(ngModel)]="isTextChecked"
        [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="trayTextCheckbox">
        Do you want text on your tray?
      </label>
    </div>
    <div *ngIf="isTextChecked">
      <br>
      <span class="form-label">What text do you want on your tray?</span>
      <input type="text-area" class="form-control" placeholder="What text do you want on your tray?"
        formControlName="trayText">
      <br>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="trayLogoCheckbox" [(ngModel)]="isLogoChecked"
        [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="trayLogoCheckbox">
        Do you want a logo on your tray?
      </label>
    </div>
    <div *ngIf="isLogoChecked">
      <br>
      <span class="form-label">What logo do you want on your tray?</span>
      <input type="file" class="form-control" formControlName="trayLogo">
    </div>
    <br>
    <div class="submitButton">
      <button type="submit" class="btn btn-primary">Contact</button>
    </div>
  </form>

</div>